<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <connectionStrings>
  <add name="PricingConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Pricing;Persist Security Info=True;Trusted_Connection=True;"
      providerName="System.Data.SqlClient"  />

  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2" maxRequestLength="2048576"  executionTimeout="36000000"/>
    <sessionState timeout="20"></sessionState>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
 
<!--
 <add name="PricingConnectionString" connectionString="Data Source=RHVSQLTST01\TST01;Initial Catalog=Pricing;Persist Security Info=True;Integrated Security=true;User ID=apps;Password=apps123"
         providerName="System.Data.SqlClient"  />
        
  <add name="PricingConnectionString" connectionString="Data Source=rhvsqlapp01\app01;Initial Catalog=Pricing;Integrated Security=true;User ID=pricingserviceuser"
         providerName="System.Data.SqlClient"/>
         
         <add name="BillingConnectionString" connectionString="Data Source=rhvsqlapp01\app01;Initial Catalog=billing;User ID=rhvsqlapp01\app01;Password=ebususer963"
         providerName="System.Data.SqlClient"/>
         
-->
</configuration>